.leftSideBar{
    margin-right: 20px;
    min-width: 120px;
    height: 300px;
    /*background-color: white;*/
    /*box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;*/
    border-radius: 5px;
}

.leftSideBar ul{
    padding-left:10px;

    list-style-type:none
}

.leftSideBar li{
    margin-bottom: 10px;
    /*padding-left:0px;*/

}

.navigationButton{
    background: none;
    border: none;
    padding: 0;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    /*text-decoration: underline;*/
    cursor: pointer;
}

.navigationButton:hover{
    color:#d1ffc4;
}

.navButton {
    align-items: normal;
    background-color: rgba(0,0,0,0);
    border-color: rgb(0, 0, 238);
    border-style: none;
    box-sizing: content-box;
    color: rgb(193, 193, 217);
    cursor: pointer;
    display: inline;
    font: inherit;
    height: auto;
    padding: 0;
    perspective-origin: 0 0;
    text-align: start;
    /*text-decoration: underline;*/
    transform-origin: 0 0;
    width: auto;
    -moz-appearance: none;
    -webkit-logical-height: 1em; /* Chrome ignores auto, so we have to use this hack to set the correct height  */
    -webkit-logical-width: auto; /* Chrome ignores auto, but here for completeness */
}

/* Mozilla uses a pseudo-element to show focus on buttons, */
/* but anchors are highlighted via the focus pseudo-class. */

@supports (-moz-appearance:none) { /* Mozilla-only */
    .navButton::-moz-focus-inner { /* reset any predefined properties */
        border: none;
        padding: 0;
    }
    .navButton:focus { /* add outline to focus pseudo-class */
        outline-style: dotted;
        outline-width: 1px;
    }
}

.navButton:hover{
    color:brown;
}

.link{
    text-decoration: none;
    color: #0d5679;
    font-weight: bold;
    /*margin-bottom: 20px;*/
}

.activeLink{
    text-decoration: none;
    color: rgb(12, 135, 197);
    font-weight: bold;
    /*margin-bottom: 20px;*/

}