.page{
    /*width: 100%;*/
    display: flex;
    flex-direction: column;
}

.users{
    /*background-color: brown;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.users User {
    margin-right: 20px;
    margin-bottom: 20px;
}

