.button{
    color: rgb(3, 26, 37);
    background-color: rgba(255, 255, 255, 0);
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    /*margin-bottom: 10px;*/
    min-width: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.button:hover{
    color: rgb(0, 102, 153);
    cursor: pointer;
}


