.button{
    color: white;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #649ebb;
    margin-bottom: 10px;
    min-width: 80px;
}

.button:hover{
    background-color: #456d81;
}