.userCard{
    display: flex;
    background-color: rgba(59, 119, 180, 0.64);
    margin: 2px;
}

.userPicture h3 {
    background-color: #006699;
    margin: 5px;
}

.userPicture{
    background-color: #00ffe1;
    padding: 5px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userTextInfo{
    font-size: large;

}
.userAvatar{
    width: 200px;
}