.header{
    z-index: 11;
    height: 50px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    align-items: center;
}

.headerContent{
    /*border: 1px solid;*/
    width:70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.appFlag{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.siteLogo{
    height: 30px;
    margin-right: 10px;
}

.siteCaption{
    margin: 0px;
    padding: 0px;
    font-size: 0.8rem;
}

.user{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
}

.user:hover{
    background-color: rgba(173, 205, 222, 0.27);
    cursor: pointer;
}

.loggedInUserAvatar{
    border-radius: 50%;
    height: 40px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.userPopup{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    align-items: flex-start;
}

.popupItem{
    /*border: 1px solid;*/
    margin-bottom: 10px;
}