.default{
    color: white;
    font-weight: bold;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #649ebb;
    /*margin-bottom: 10px;*/
    min-width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.default:hover{
    background-color: #456d81;
    cursor: pointer;
}

.default:disabled{
    color: darkgray;
    background-color: rgba(105, 105, 105, 0.47);
}

.linkStyled{
    color: rgb(3, 26, 37);
    background-color: rgba(255, 255, 255, 0);
    padding: 0;
    justify-content: flex-start;
}

.linkStyled:hover{
    color: rgb(0, 102, 153);
    background-color: rgba(255, 255, 255, 0);
    transform: scale(1.02);
}
.white{
    color: #d2d2d2;
}

.white:hover{
    color: white
}

