.friendsList{
    /*background-color: rgba(213, 201, 121, 0.5);*/
    list-style-type:none;
    display:flex;
    /*max-width: 600px;*/
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0px;
    margin: 0px;
}

.friendsList li{
    border: 2px solid red;
    padding: 0px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    border-radius: 5px;
    height: 60vh;
    width: 350px;
}

.friendLink{
    text-decoration: none;
    height: 60vh;
    /*width: 350px;*/
    border: 2px solid blue;
    /*padding: 20px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /*padding-bottom: 20px;*/
}

.friendName{
    margin: 0;
    border: 1px solid;
    justify-content: center;
    color: rgb(3, 26, 37)
}

.friendAvatar{
    border-radius: 5px;
    /*max-height: 250px;*/
    min-height: 100px;
    height: 60%;
}

.friendStatus{
    word-break: break-all;
    font-size: 0.9rem;
    padding-left: 20px;
    padding-right: 20px;
    /*margin-bottom: 10px;*/
}