.form{
    display: flex;
    flex-direction: column;
}
.error{
    color: red;
    font-size: 12px;
    max-width: 600px;
    /*background-color: rgba(255, 0, 0, 0.55);*/
}

.textarea{
    width:300px;
    height: 100px;
    resize: none;
}

.socialMediaFieldContainer{
    display: flex;
    flex-direction: column;
    height: 60px;
}

.socialMediaFieldLabel{
    display: flex;
    flex-direction: column;
}

.submitButton{
    min-height: 20px;
    padding: 5px;
}