.form{
    display: flex;
    flex-direction: column;
}

.formBlock{
    /*border: 1px solid;*/
    min-height: 50px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
}

.form label{
    margin-bottom: 6px;
    font-weight: bold;
}
.error{
    color: red;
    font-size: 12px;
    max-width: 600px;
    /*background-color: rgba(255, 0, 0, 0.55);*/
}

.textarea{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    padding: 10px;
    /*overflow: hidden;*/
    word-break: break-all;
    /*height: 100px;*/
    resize: none;
    margin-bottom: 0px;
}

.socialMediaFieldContainer{
    display: flex;
    flex-direction: column;
    height: 80px;
    margin-bottom: 20px;
}

.socialMediaFieldLabel{
    display: flex;
    flex-direction: column;
}

.submitButton{
    min-height: 20px;
    padding: 10px;
}

.checkbox{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    /*align-content: center;*/
}

.checkbox input {
    margin-right: 10px;
}


.form input[type=text]{
    border-radius: 5px;
    border: none;
    outline: none;
    height: 30px;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    padding: 5px;
    margin-bottom: 5px;

}
