.statusContainer{
    margin-bottom: 20px;
    position: relative;
    /*max-height: 80px;*/
}
.statusText{
    font-size: 0.9rem;
    word-break: break-word;
    /*text-indent: 30px;*/
}

.highlightedText{
    background-color: rgba(100, 158, 187, 0.29);
    transition: background-color 400ms;
}

.statusInput{
    width: 95%;
    outline: none;
    border: none;
    resize: none;
    padding: 10px;
    max-height: 70px;
    word-break: break-word;
    overflow: hidden;
}

.editIcon{
    /*background-color: #006699;*/
    display: inline-block;
    width: 25px;
    text-align: right;
    padding-left: 5px;
    margin: 0;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    top: 1px;
    font-size: 0.8rem;

}

.editIcon:hover{
    cursor: pointer;
    font-size: 0.9rem;
}
