.dialog{
    background-color: white;
    /*overflow-y: auto;*/
    overflow-x: hidden;
    height: calc(100% - 200px);
    padding-bottom: 20px;
    padding-top: 20px;
    transition: height 400ms;
    /*not fully adopted yet*/
    overflow-anchor: none;
    scrollbar-gutter: stable;
}

.hidden{
    height: 0 ;
    margin: 0;
    overflow: hidden;
    padding-bottom: 0;
    padding-top: 0;
    transition: height 400ms;
}

@keyframes show-overflow {
    from { overflow: hidden; }
}

.dialog:not(.hidden) {
    animation: show-overflow 2s;  /* scroll only appears after dialog has full height */
}