.dialog{
    background-color: white;
    overflow: auto;
    height: calc(100% - 200px);
    padding-bottom: 20px;
    padding-top: 20px;
    transition: height 400ms;
}

.hidden{
    height: 0 ;
    margin: 0;
    overflow: hidden;
    padding-bottom: 0;
    padding-top: 0;
    transition: height 400ms;
}