.appWrapper {
  /*padding-top: 8vh;*/
  /*width: 70%;*/
  background-color: lightgray;
  /*min-height: 100vh;*/
}

.content{
  /*border: 3px solid fuchsia;*/
  margin: 0 auto;
  display: flex;
  /*flex-wrap: wrap;*/
  /*justify-content: center;*/
  padding-top: 70px;
  width: 70%;
  min-height: 100vh;
}
