.dialogs{
    background-color: orange;
    width: 100%;
    min-height: 99vh;
    display: flex;
}

.peopleList{
    padding: 20px;
    background-color: #d5c979;
    width: 20%;
}

.person{
    background-color: #00ffe1;

}

.avatar{
    width: 100px;
}

.messagesContainer{
    background-color: #d1ffc4;
    width: 80%;

}
.message{
    background-color: brown;
}