/*.message {*/
/*    margin: 5px;*/
/*    padding: 10px;*/
/*    background-color: rgba(236, 8, 8, 0.3);*/
/*}*/


.messageContainer {
    /*background-color: yellowgreen;*/
    display: flex;
    align-items: flex-end;
    justify-content: left;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
}

.messageContainerRight{
    justify-content: right;


}

.avatar {
    height: 70px;
    border-radius: 50%;
}

.bubble {
    background-color: rgba(146, 173, 189, 0.71);
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 10px 10px 10px 0px;
    min-width: 300px;
    max-width: 500px;
    min-height: 100px;
}

.bubbleRight {
    background-color: rgba(46, 133, 173, 0.67);
    border-radius: 10px 10px 0px 10px;

}

.decorator {
    width: 20px;
    height: 20px;
    background: radial-gradient(circle at 0 0, rgba(0,0,0,0) 20px, rgba(146, 173, 189, 0.71) 0);
    /*background: linear-gradient(to bottom right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 55, 0, 0.9) 50%, rgba(0, 55, 0, 0.9) 100%);*/
}

.decoratorRight {
    width: 20px;
    height: 20px;
    background: radial-gradient(circle at 100% 0, rgba(0,0,0,0) 20px, rgba(46, 133, 173, 0.67) 0);
    /*background: linear-gradient(to bottom right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 55, 0, 0.9) 50%, rgba(0, 55, 0, 0.9) 100%);*/
}

.author {
    /*background-color: darkgray;*/
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.text {
    /*background-color: #00ffe1;*/
    /*display: flex;*/
    /*align-items: flex-end;*/
    min-width: 200px;
    color: #031a25;
    word-break: break-all;
    margin-bottom: 10px;
}

.time {
    /*display: flex;*/
    /*align-items: flex-end;*/
    text-align: right;
    font: 0.8rem Arial, sans-serif;
    color: rgba(3, 26, 37, 0.8);
}